/* Container do cabeçalho */
.header {
  padding: 2rem;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.barra-pesquisa {
  display: block;
  width: 90%;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  padding: 12px 20px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.barra-pesquisa:focus {
  border-color: #0070f3;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grade {
  width: 80%;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  padding: 20px;
}
@media (min-width: 1200px) {
  .grade {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .grade {
    grid-template-columns: repeat(2, 1fr);
  }
}

.PontoInvisivel {
  display: none;
}
.semResultados {
  width: 70%;
  min-width: 100vh;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 2rem;
  background-color: #3a3b3b;
  text-align: left;
  font-size: 1.7rem;
  color: #9a6f6f;
  margin-top: 2rem;
  position: absolute;
}
.semResultados h2 {
  font-size: 1.5rem;
  color: #ffffff;
}

.semResultados p {
  color: #ffffff;
  font-size: 0.95rem;
  max-width: 300px;
}
.icon {
  font-size: 50px;
  opacity: 0.9;
}

.botaoCriar {
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.2s;
}

.botaoCriar:hover {
  background: #26303e;
  transform: translateY(-1px);
}
.limparErro {
  padding: 10px 16px;
  border-radius: 6px;
}
.menuHamburguer {
  position: fixed;
  top: 20px;
  left: 90%;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  color: rgb(72, 61, 43);
  background-color: transparent;
}

.botaoCriar {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: #08a059;
  color: white;

  border: none;
  border-radius: 50px;

  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: 0.2s;

  z-index: 999;
}

.botaoCriar:hover {
  background-color: #2968c8;
  transform: scale(1.05);
}
